# Wails
.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# Go
*.exe
*.log
.env
curator

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
